:root {
  --dark: #2c2e35;
  --green: #a3cf44;
  --red: #da6936;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  body {
    margin: 0em auto;
    color: var(--dark);
  }
  #about {
    margin: 0 20px;
  }
  #home {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 0;
    color: var(--dark);
  }
  #menu {
    position: fixed;
    bottom: 50px;
    right: 70px;
    z-index: 0;
    color: var(--dark);
  }
  #navigation {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    top: 0px;
    box-shadow: 2px 2px 35px -10px rgba(44, 46, 53, 0.56);
    -webkit-box-shadow: 2px 2px 35px -10px rgba(44, 46, 53, 0.56);
    -moz-box-shadow: 2px 2px 35px -10px rgba(44, 46, 53, 0.56);

    .navbar-brand {
      margin: 0px auto;
      font-weight: 900;
      color: var(--red);
    }
  }
  #hero {
    margin-top: 50px;
    padding: 10px;
    overflow: hidden;
    h1 {
      font-size: 2em;
      font-weight: 700;
    }
    .one {
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        display: none;
      }
      button {
        margin-top: 10px;
        border-radius: 8px;
      }
      #btn-info {
        background-color: var(--green);
        font-weight: 700;
        color: var(--dark);
      }

      #btn-info:hover,
      #btn-info:focus {
        transform: scale(1.05);
      }
    }
    .two {
      width: 100%;
    }
  }
  #form {
    margin: 20px;
  }
  #footer {
    width: 100%;
    text-align: center;
    background-color: #fff;
    .social {
      i {
        margin-left: 20px;
      }
    }
    hr {
      width: 70%;
      margin: auto;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// }
